<% title(:Projects) %>

<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Projects</h1>
  <%= link_to 'New project', new_project_path, class: "py-2 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
</div>

<div class="w-full">
  <% if @projects.any? %>
    <% @projects.each do |project| %>
      <div class="container rounded-md border-red-400 border-2 mt-4 divide-y">
        <div class="m-1">
          <span><%= heroicon("home-modern", options: { class: "h-10 w-10 text-rose-500" }) %></span>
        </div>
        <div class="mx-4">
          <h2 class="mt-1">
            <%= link_to "#{project.title} - < Client Name >", project_path(project) %>
          </h2>
          <h4>Know As: <span><%= project.title %></span></h4>
          <div class="flex gap-2 place-content-between">
            <p class="basis-1/2">Principle contact: <span>< Primary Contact ></span></p>
            <p class="basis-1/2">
              Creation date: <%= project.created_at.strftime("%a, %d %b %Y ") %>
            </p>
          </div>
          <p>
            <%= project.description.blank? ? 'There is no current description of this project!' : project.description %>
          </p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>There are no existing Projects</p>
    <%= link_to "Create your first project", new_project_path %>
  <% end -%>
</div>

<div class="flex justify-between items-center mt-4">
  <br>
  <%= link_to 'New project', new_project_path, class: "py-2 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
</div>
