<% title(:Projects, @project.title) %>

<div class="flex justify-between items-center">
  <h1 class=""><%= @project.title %></h1>
  <%= link_to 'All projects', projects_path, class: "py-2 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
</div>

<p>
  <%= @project.description.present? ? @project.description : "No description has been provided" %>
</p>
<!-- <h3>Tracking Status: <span><%= @project.tracking_status.humanize %></span></h3> -->

<%= simple_form_for(@project, builder: SimpleForm::Tailwind::FormBuilder, remote: true) do |f| %>
  <%= render partial: "tracking_status", locals: { project: @project, f: f } %>
  <%= f.submit I18n.t("simple_form.buttons.project.tracking_status.submit", btn_action_type: @project.persisted? ? :Update : :Create), class: "w-full flex justify-center my-4 py-2 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
<% end -%>

<div class="flex justify-between items-center">
  <br>
  <%= link_to 'Add comment', new_project_comment_path(@project), class: "py-2 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
</div>

<div class="history mt-8">
  <%= render partial: "comment_and_tracking_status_history", collection: comment_and_tracking_status_history(@project) || "No activity for this project yet" %>
</div>
